.listaClientes {
    border-top: 1px solid #f2f4f7;
    display: flex;
    padding: 0.8rem;
    margin-top: 0.8rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(32, 32, 32, .06);
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: 0.9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}