.NovoPedido {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 65%;
    border-radius: 15px;
    background-color: #f0f0f0;
    padding: 2rem;
    margin-top: 2%;
    box-shadow: 0 4px 10px rgba(32, 32, 32, 0.1);
}

.formParte1,
.formParte2 {
    margin-bottom: 1.5rem;
}

.formParte2 .btnNovoPedio {
    background-color: #e0e0e0;
}

.novoPedido_add_actions {
    margin: 2rem auto;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnNovoPedio,
.novoPedido_add_actions a,
.novoPedido_add_actions button {
    margin-right: 1em;
}

.formParte1 input::placeholder,
.formParte2 input::placeholder {
    font-family: 'Courier New', Courier, monospace;
}


.NovoPedido h2 {
    position: sticky;
}

.formParte1 {
    position: sticky;
    margin-bottom: 1.5rem;

    input {
        display: flex;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #212121;
        font-size: 1rem;
        border-radius: 15px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(32, 32, 32, 0.06);
    }

    input::placeholder {
        position: relative;
        left: 1%;
        color: #757575;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 4px #4CAF50;
    }
}

.formParte2 {
    overflow-y: auto;
    flex-grow: 1;
    padding-bottom: 2rem;
    max-height: 65vh;

    input {
        display: flex;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #212121;
        font-size: 1rem;
        border-radius: 15px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(32, 32, 32, 0.06);
    }

    input::placeholder {
        position: relative;
        left: 1%;
        color: #757575;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 4px #4CAF50;
    }
}


.novoPedido_add_actions {
    position: sticky;
    bottom: 1px;
    z-index: 1;
    margin: 1rem auto;
    gap: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnNovoPedio {
    margin-bottom: 1rem;
}

.novoPedido_add_actions {
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.btnNovoPedio,
.novoPedido_add_actions a,
.novoPedido_add_actions button {
    width: 15rem;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: 0.9em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.btnNovoPedio:hover,
.novoPedido_add_actions a:hover,
.novoPedido_add_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}